<table class="table table-bordered table-condensed" style="background-color: #D8FFF1;">
        <tbody>
          <tr>
            <th style="background-color: #00D7F4; width: 20%;">名前</th>
            <td class="text-center"><%= @owner.name %></td>
          </tr>
          <tr>
            <th style="background-color: #00D7F4;">カナ</th>
            <td class="text-center"><%= @owner.name_kana %></td>
          </tr>
          <tr>
            <th style="background-color: #00D7F4;">お住まい</th>
            <td class="text-center"><%= @owner.address %></td>
          </tr>
          <tr>
            <th style="background-color: #00D7F4;">電話番号</th>
            <td class="text-center"><%= @owner.telephone %></td>
          </tr>
          <tr>
            <th style="background-color: #00D7F4;">メールアドレス</th>
            <td class="text-center"><%= @owner.email %></td>
          </tr>
        </tbody>
      </table>