<div class="container mt-4">
  <div class="row">
    <div class="col-10 mt-4 mx-auto">
      <h4 class="mb-4" style="font-weight:bold; font-family: serif;">🔳飼い主情報確認</h4>
      <div class="col-12 text-right" style="margin-top: -60px; margin-bottom: 30px;">
        <div><%= link_to "🐶飼い主詳細情報へ", owner_my_page_path %></div>
        <div style="margin-top: 10px;"><%= link_to "🐶いいねした投稿一覧へ", owner_favorites_path %></div>
      </div>
      <%= render "public/owner/owners/owner_info", owners: @owner %>
      <% if current_owner == @owner %>
        <div class="d-flex justify-content-center mt-4">
          <%= link_to "プロフィールを編集する", owner_edit_information_path, class: "btn btn-success btn-sm d-flex align-items-center justify-content-center", style: "width: 200px; height: 50px; border-radius: 10px;" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="mt-4">
    <h1 style="font-size: 24px; font-weight: bold; font-family: serif;"><%= @owner.name %> が投稿した内容一覧</h1>

    <div class="row">
      <% @posts.in_groups_of(3, false) do |group| %>
          <% group.compact.each do |post| %>
            <div class="col-md-3 mb-4">
              <%= link_to owner_post_path(post), class: "card-hover-effect", style: "text-decoration: none; color: black;", data: { toggle: "tooltip", placement: "top", title: post.title } do %>
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title" style="font-size: 18px;"><strong>🐶しつけに関するお悩み:</br></strong> <%= post.title %></h5>
                    <p class="card-text" style="font-size: 16px;"><strong>🐾ご相談内容:</br></strong> <%= post.introduction %></p>
                    <p class="card-text" style="font-size: 14px;"><strong class="text-muted">🐕相談したいお悩み内容: <%= link_to post.category.name, owner_category_path(post.category), style: "text-decoration: none; color: #007bff;" %></strong></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        
      <% end %>
    </div>
    
  </div>
</div>
