<div class="container mt-4">
  <div class="row">
    <div class="col-10 mt-4 mx-auto">
      <h4 class="mb-4" style="font-weight:bold;">🔳飼い主情報確認</h4>
      <table class="table table-bordered table-condensed" style="background-color: #D8FFF1;">
        <tbody>
          <tr>
            <th style="background-color: #00D7F4; width: 20%;">名前</th>
            <td class="text-center"><%= @owner.name %></td>
          </tr>
          <tr>
            <th style="background-color: #00D7F4;">カナ</th>
            <td class="text-center"><%= @owner.name_kana %></td>
          </tr>
          <tr>
            <th style="background-color: #00D7F4;">お住まい</th>
            <td class="text-center"><%= @owner.address %></td>
          </tr>
          <tr>
            <th style="background-color: #00D7F4;">電話番号</th>
            <td class="text-center"><%= @owner.telephone %></td>
          </tr>
          <tr>
            <th style="background-color: #00D7F4;">メールアドレス</th>
            <td class="text-center"><%= @owner.email %></td>
          </tr>
        </tbody>
      </table>
      <% if current_owner == @owner %>
        <div class="d-flex justify-content-center mt-4"> <!-- 余白を減らしています -->
          <%= link_to "プロフィールを編集する", owner_edit_information_path, class: "btn btn-success btn-sm d-flex align-items-center justify-content-center", style: "width: 200px; height: 50px; border-radius: 10px;" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 text-center mt-4">
    <% if @pet.present? %>
      <% @pet.each do |pet| %>
        <div class="col-10 mx-auto mt-4">
          <h4 class="mb-4" style="font-weight:bold;">🔳登録済みペット情報</h4>
          <div class="row">
            <%= render partial: 'public/owner/shared/pet_info', locals: { pet: pet } %>
            <div class="col-md-6 border text-center" style="background-color: #E6F4FA;">
              <div class="mb-2" style="margin-top: 10px;">
                <%= link_to owner_pet_path(pet) do %>
                  <%= image_tag pet.image, style: "width: 430px; height: 300px; object-fit: cover; display: inline-block; vertical-align: middle;", alt: "ペットの写真" if pet.image.attached? %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- スペースを作成するための空の行を追加 -->
        <div class="row mt-4">
          <div class="col-12">&nbsp;</div>
        </div>
      <% end %>
    <% else %>
      <div class="col-12 text-center mt-4">
        <%= link_to new_owner_pet_path do %>
          <%= image_tag "pet_new.png", style: "width: 700px; height: 600px;", alt: "ペットのイラスト" %>
        <% end %>
      </div>
    <% end %>
  </div>

    <% if @pet.present? %>
      <div class="container">
        <div class="row mt-4">
          <%= render partial: 'public/owner/shared/pet_form', locals: { pet: @pet, title: '🔳マイペット追加登録', url: owner_pets_path, method: :post, new_registration: @new_registration } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
