<div class="container">
  <h3 class="text-center mb-4" style="font-size: 40px; font-weight: bold; font-family: serif;"><i class="fa-solid fa-bone"></i> トレーナー一覧 <i class="fa-solid fa-bone"></i></h3>
  <div class="row justify-content-center">
    <div class="col-11 mt-4">
      <% @trainers.each_slice(4) do |slice| %>
        <div class="row">
          <% slice.each do |trainer| %>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-4"> <!-- ここを変更 -->
              <div class="card" style="width: 100%;"> <!-- ここを追加 -->
                <%= link_to trainer_trainer_path(trainer) do %>
                  <% if trainer.image.attached? %>
                    <%= image_tag trainer.image, class: "card-img-top", alt: "トレーナー画像" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', class: "card-img-top", alt: "デフォルト画像" %>
                  <% end %>
                <% end %>
                <div class="card-body text-center">
                  <h5 class="card-title text-center"><strong><%= "#{trainer.name} トレーナー" %></strong></h5>
                  <% if trainer.message.present? %>
                    <% truncated_message = truncate(trainer.message, length: 42, separator: ' ') %>
                    <% if truncated_message.present? %>
                      <% truncated_message.scan(/.{1,14}/).each do |line| %>
                        <p class="card-text" style="font-size: 14px; line-height: 1.2;"><%= line %></p>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if trainer_signed_in? %>
                    <%= link_to "詳しく見る", trainer_trainer_path(trainer), class: "btn btn-primary btn-sm btn-block rounded-pill mt-3" %>
                  <% else %>
                    <%= link_to "詳しく見る", new_trainer_session_path, class: "btn btn-primary btn-sm btn-block rounded-pill mt-3" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @trainers, theme: 'twitter-bootstrap-4' %>
