<h1 class="text-center"><strong>DOG TRAINER</strong></h1>
<h2 class="text-center">トレーナー一覧</h2>

<div class="container">
  <div class="row">
    <% @trainers.each_with_index do |trainer, index| %>
      <div class="col-md-3 mb-4">
        <div class="card h-100 rounded-20">
          <% if trainer.image.attached? %>
            <%= image_tag(trainer.image, class: "card-img-top trainer-photo rounded-top", style: "object-fit: cover; height: 300px;") %>
          <% else %>
            <%= image_tag 'no_image', size: "300x300", class: "card-img-top trainer-photo rounded-top", style: "object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h3 class="card-title text-center"><%= trainer.name %> トレーナー</h3>
            <p class="card-text"><%= trainer.message %></p>
            <div class="text-center">
              <%= link_to "詳しく見る", trainer_trainer_path(trainer), class: "btn btn-primary rounded-pill" %>
            </div>
          </div>
        </div>
      </div>
      <% if (index + 1) % 4 == 0 %>
        </div><div class="row">
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate @trainers, theme: 'twitter-bootstrap-4' %>
