<h1>DOG TRAINER</h1>
<h2 class="text-center">トレーナー一覧</h2>

<div class="trainer-list mx-3 justify-content-center"> <!-- 左右の余白と中央揃え -->
  <div class="row">
    <% @trainers.each_with_index do |trainer, index| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <% if trainer.image.attached? %>
            <%= image_tag(trainer.image, class: "card-img-top trainer-photo", style: "object-fit: cover; height: 200px;") %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200", class: "card-img-top trainer-photo", style: "object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h3 class="card-title text-center"><%= trainer.name %> トレーナー</h3>
            <p class="card-text"><%= trainer.message %></p>
            <div class="text-center">
              <%= link_to "詳しく見る", trainer_trainer_path(trainer), class: "btn btn-primary rounded-pill" %>
            </div>
          </div>
        </div>
      </div>
      <% if (index + 1) % 3 == 0 %>
        </div><div class="row">
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate @trainers, theme: 'twitter-bootstrap-4' %>
