  <style>
    h1 {
      font-family: 'Arial', sans-serif;
      font-size: 36px;
      color: #333;
      text-align: center;
      margin-top: 20px;
    }

    .chat-container {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    .name {
      font-weight: bold;
      margin-left: 10px;
      margin-top: 10px;
      text-align: left;
      flex: 0 0 80px; /* 固定幅 */
    }

    .chat-bubble {
      padding: 10px;
      margin-left: 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      max-width: 70%;
      position: relative;
    }

    .chat-bubble::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -10px; /* 反対側に移動 */
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #FFFFFF; /* 飼い主のメッセージの背景色 */
      transform: translateY(-50%);
    }

    .trainer-name {
      font-weight: bold;
      margin-right: 10px;
      margin-top: 10px;
      text-align: right;
      flex: 0 0 110px; /* 固定幅 */
    }

    .trainer-chat-bubble {
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      max-width: 70%;
      position: relative;
      align-self: flex-end; /* 右揃えに修正 */
    }
    
    .trainer-chat-container {
    justify-content: flex-end;
  }

    .trainer-chat-bubble::before {
      content: '';
      position: absolute;
      top: 50%;
      right: -10px; /* 反対側に移動 */
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #00F226; /* トレーナーのメッセージの背景色 */
      transform: translateY(-50%);
    }

    .message {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }

    .message-content {
      color: #555;
    }
    
    .timestamp {
      font-size: 12px;
      color: #999;
    }

    .input-group-text {
      background-color: #f15a29;
      border-color: #f15a29;
      color: #fff;
    }

    .input-group-text:hover {
      background-color: #e2490f;
      border-color: #e2490f;
    }

    .btn-secondary {
      border-color: #6dc6ff;
      color: #fff;
    }

    .btn-secondary:hover {
      background-color: #5ab8ff;
      border-color: #5ab8ff;
    }
    
    h2 {
    position: relative;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 40px 0 20px;
    background-color: #00AFFE;
    color: #353535;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    }
    
    h2::before {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 0px;
        height: 0px;
        border: none;
        border-top: 10px solid transparent;
        border-right: 20px solid #999;
        content: '';
    }
  </style>
</head>
<body>
<div class="container text-center mt-4">
  <h2 style="font-weight:bold; font-family: serif;"><strong>"<%= @owner.name %>"様との相談部屋</strong></h2>
</div>

  <div class="container mt-4">
    <div id="messages">
      <% @messages.sort_by(&:created_at).each do |message| %>
        <% if message.send_type.present? %>
          <div class="chat-container">
            <div class="name">
              <%= message.owner.name %></br>
              (飼い主)
            </div>
            <div class="chat-bubble"  style="background-color: #FFFFFF;">
              <div class="message-content">
                <strong><%= message.message %></strong>
              </div>
              <div class="timestamp"><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></div>
            </div>
          </div>
        <% else %>
          <div class="chat-container trainer-chat-container">
            <div class="trainer-chat-bubble" style="background-color: #00F226;">
              <div class="message-content">
                <strong><%= message.message %></strong>
              </div>
              <div class="timestamp"><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></div>
            </div>
            <div class="trainer-name">
              <%= message.trainer.name %></br>
              (トレーナー)
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= form_with(model: [@room, @message], url: trainer_room_messages_path(@room), local: true) do |form| %>
      <div class="input-group mb-3">
        <%= form.text_area :message, placeholder: 'メッセージを入力してください', rows: 4, class: 'form-control' %>
        <div class="input-group-append">
          <button type="submit" class="btn btn-success">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    <% end %>
    <%= link_to "DMルーム一覧に戻る", trainer_rooms_path, class: "btn btn-secondary" %>
  </div>