<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4"><strong>🐾お悩み詳細🐾</strong></h1>
      <table class="table table-bordered mb-5" style="background-color: #F0F8FF;">
        <tbody>
          <tr>
            <th colspan="2" class="bg-info text-white">画像</th>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <% if @post.image.attached? %>
                <%= image_tag @post.image, class: "img-thumbnail", style: "max-width: 300px; max-height: 300px;" %>
              <% else %>
                <p class="text-muted">画像はありません</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="bg-info text-white">項目</th>
            <th class="bg-info text-white">内容</th>
          </tr>
          <tr>
            <th>しつけに関するお悩み</th>
            <td><%= @post.title %></td>
          </tr>
          <tr>
            <th>相談したいしつけのお悩み</th>
            <td><%= @post.category.name %></td>
          </tr>
          <tr>
            <th>ご相談内容</th>
            <td>
              <% if @post.introduction.length > 30 %>
                <% @post.introduction.scan(/.{1,30}/).each do |line| %>
                  <%= line %><br>
                <% end %>
              <% else %>
                <%= @post.introduction %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>今行っている対策</th>
            <td>
              <% if @post.current_approach.length > 30 %>
                <% @post.current_approach.scan(/.{1,30}/).each do |line| %>
                  <%= line %><br>
                <% end %>
              <% else %>
                <%= @post.current_approach %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>回答数</th>
            <td><%= @post.advices.count %></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div class="btn-group" role="group" aria-label="Post Actions">
          <%= link_to edit_owner_post_path(@post), class: "btn btn-primary btn-lg mb-5", style: "width: 250px; height: 55px; border-radius: 25px; margin-right: 55px; display: flex; justify-content: center; align-items: center;" do %>
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
          <% end %>
          <%= button_to owner_post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-lg", style: "width: 250px; height: 55px; border-radius: 25px; margin-left: 55px;" do %>
            <i class="fa-solid fa-trash fa-lg"></i>
          <% end %>
          <div style="margin-bottom: 50px;"></div> <!-- ボタンの下の余白 -->
        </div>
        <%= link_to owner_posts_path, class: "btn btn-secondary btn-lg mb-5", style: "width: 250px; height: 55px; border-radius: 25px;" do %>
        一覧に戻る
      <% end %>
      </div>
      <!-- コメント一覧 -->
      <%= render "public/owner/advices/index", post: @post %>
    </div>
  </div>
</div>

<%= render partial: 'public/owner/shared/new_post_path' %>