<div class="container mt-5">
  <div class="row mb-4">
    <div class="col text-center">
      <h1><strong>お悩み相談一覧</strong></h1>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-4">
    <% @posts.each_slice(4) do |slice| %>
      <% slice.compact.each do |post| %>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="post-image">
              <%= link_to admin_post_path(post) do %>
                <%= image_tag post.image, class: "img-thumbnail", style: "max-height: 200px;" if post.image.attached? %>
                <div class="overlay">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to admin_owner_path(post.owner) do %>
                  <%= post.owner.name %>
                <% end %>
              </h5>
              <p class="card-text">
                <%= post.category.name %>
              </p>
              <p class="card-text">
                <% truncated_introduction = post.introduction.truncate(30, separator: /\s/) %>
                <%= truncated_introduction.scan(/.{1,10}/).join('<br>') %>
              </p>
              <p class="card-text">
                コメント数: <%= post.advices.count %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- ページネーション -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
