<div class="col-md-6 border" style="background-color: #E6F4FA;">
  <table class="table table-bordered" style="background-color: #D8FFF1; border-collapse: collapse; margin-top: 15px;">
    <tbody>
      <tr>
        <th style="background-color: #00D7F4; width: 40%;">ワンちゃんのお名前</th>
        <td><%= pet.pet_name %>ちゃん</td>
      </tr>
      <tr>
        <th style="background-color: #00D7F4;">読み方(フリガナ)</th>
        <td><%= pet.pet_name_kana %>チャン</td>
      </tr>
      <tr>
        <th style="background-color: #00D7F4;">性別</th>
        <td><%= pet.gender %></td>
      </tr>
      <tr>
        <th style="background-color: #00D7F4;">犬種</th>
        <td><%= pet.dog_breed %></td>
      </tr>
      <tr>
        <th style="background-color: #00D7F4;">ワンちゃんの誕生日</th>
        <td><%= pet.dog_birthday %></td>
      </tr>
      <tr>
        <th style="background-color: #00D7F4;">ワンちゃんの年齢</th>
        <td><%= calculate_age(pet.dog_birthday) %>歳</td>
      </tr>
    </tbody>
  </table>
</div>
