<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h4 class="mb-4" style="font-weight:bold; font-family: serif;">届いたDM一覧</h4>
      <div class="col-12 text-right" style="margin-top: -60px; margin-bottom: 30px;">
      <div><%= link_to "🐶飼い主詳細情報へ", owner_my_page_path %></div>
      <div style="margin-top: 10px;">🐶 <%= link_to "飼い主投稿一覧へ", owner_posts_list_path %></div>
      </div>
      <% if @rooms.any? %>
        <div class="list-group">
          <% @rooms.each do |room| %>
            <% unread_messages_count = room.unread_messages_count %>
            <% room.mark_messages_as_read(current_owner) if unread_messages_count > 0 %> <!-- ルームが開かれた時に未読メッセージを既読にマーク -->
            <a href="<%= owner_room_path(room.id) %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center", style="font-weight:bold;">
              <span>with <span style="color: blue;"><%= room.trainer.name.upcase %></span></span> <!-- トレーナーの名前を大文字にして色を付ける -->
              <% if room.messages.present? %> <!-- メッセージがある場合のみ表示 -->
                <div class="col-md-6 mx-auto text-center" style="margin-top: -15px; font-weight:bold"> <!-- 少し上に配置 -->
                  <div class="message-content">
                    <% last_message = room.messages.last %>
                    <p class="mb-1" style="text-transform: uppercase;">内容:<span style="color: blue;"></span> <%= last_message.message.upcase %></p> <!-- トレーナーの名前とメッセージ内容を大文字にして色を付ける -->
                  </div>
                </div>
              <% end %>
              <% if unread_messages_count > 0 %> <!-- 未読メッセージがあれば -->
                <span class="badge bg-warning" style="padding: 0.6rem 1.0rem; font-size: 0.8rem;">New</span> <!-- 新着メッセージのバッジを表示 -->
              <% end %>
            </a>
          <% end %>
        </div>
      <% else %>
        <p>届いたDMはありません。</p>
      <% end %>
    </div>
  </div>
</div>
