<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetPulse Hub</title>
  <!-- Bootstrap CSS -->
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">-->
  <!-- FontAwesome CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #ADE3FB; /* 背景色を #ADE3FB に設定 */
      font-family: 'Nunito', sans-serif; /* フォントをNunitoに設定 */
    }
    .navbar {
      background-color: transparent !important; /* ヘッダーの背景色を透明に設定 */
      transition: background-color 0.3s; /* 背景色にアニメーションを追加 */
      height: 100px; /* ヘッダーの高さを設定 */
    }
    .navbar.scrolled {
      background-color: #ffffff !important; /* スクロール時の背景色を白に設定 */
    }
    .navbar-brand {
      font-size: 36px; /* ロゴのフォントサイズを調整 */
      font-weight: bold;
      color: #343a40; /* ロゴの文字色を設定 */
      margin-right: 30px;
      margin-left: 50px;
    }
    .navbar-toggler {
      border: none; /* ハンバーガーアイコンのボーダーを削除 */
      outline: none; /* ハンバーガーアイコンのアウトラインを削除 */
    }
    .navbar-toggler-icon {
      font-size: 36px; /* ハンバーガーアイコンのサイズを調整 */
      color: #343a40; /* ハンバーガーアイコンの色を設定 */
    }
    .navbar-collapse {
      justify-content: flex-end; /* メニューを右寄せにする */
    }
    .navbar-text {
      margin-left: 10px;
      margin-top: 0px;
      font-size: 14px;
      color: #666;
    }
    .navbar-nav .nav-link {
      font-family: 'Times New Roman';
      font-size: 20px;
      position: relative; /* 相対位置指定 */
    }
    .navbar-nav .nav-link::after {
      content: '';
      position: absolute; /* 絶対位置指定 */
      width: 0;
      height: 2px;
      bottom: 5px; /* 下端から5px上に移動 */
      left: 0; /* 左端に配置 */
      background-color: #000000; /* 下線の色を指定 */
      transition: width 0.3s ease; /* アニメーションを追加 */
    }
    .navbar-nav .nav-link:hover::after {
      width: 100%; /* マウスを乗せたときの下線の長さ */
    }
  </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="/trainer">
      <%= image_tag("PetPulse_Hub_Logo.png", alt: "PetPulse_Hub", style: "max-height: 90px;") %>
    </a>
    <a class="navbar-text">日本最大級の<br>オンラインドッグトレーニングサイト</a>
      <% if trainer_signed_in? %>
        <p class = "text-black" style="font-family: 'Playfair Display', serif; color: black; margin-top: 20px; margin-left: 20px;">Welcome to <%= current_trainer.name %>！</p>
      <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if trainer_signed_in? %>
          <% unless current_trainer.guest? %>
          <li class="nav-item">
            <%= link_to trainer_trainer_path(current_trainer), class: "nav-link" do %>
              My page
            <% end %>
          </li>
          <% end %>
          <li class="nav-item">
            <%= link_to trainer_owners_path, class: "nav-link" do %>
              Owners
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to trainer_posts_path, class: "nav-link" do %>
              Posts
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to trainer_categorys_path, class: "nav-link" do %>
              Category
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_trainer_session_path, method: :delete, class: "nav-link" do %>
              Log out
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to trainer_posts_path, class: "nav-link" do %>
              Posts
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to trainer_categorys_path, class: "nav-link" do %>
             Category
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_trainer_session_path, class: "nav-link" do %>
              Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render "public/trainer/searches/search_posts" %>
</nav>

<!-- Content Section -->
<div class="container">
  <!-- Your content goes here -->
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(window).scroll(function() {
    if ($(window).scrollTop() > 50) {
      $('.navbar').addClass('scrolled');
    } else {
      $('.navbar').removeClass('scrolled');
    }
  });
</script>
</body>
</html>
